    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }
        h3 {
            background-color: #FFFFFF;
        }

        header {
            background-color: #00008B;
            color: white;
            text-align: center;
            padding: 1em 0;
        }

        nav {
            background-color: #7272FF;
            padding: 0.5em 0;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            padding: 0.5em 1em;
        }

        nav a:hover {
            background-color: #4444FF;
        }

        .container {
            width: 80%;
            margin: 20px auto;
        }

        .car-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .car-card {
            width: 300px;
            border: 1px solid #ddd;
            margin-bottom: 20px;
            padding: 10px;
            text-align: center;
        }

        .car-card img {
            max-width: 100%;
            height: auto;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em 0;
            position:relative;
            bottom: 0;
            width: 100%;
        }

    </style>
